<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    {% block title %}
    <h1>{{ survey_title }}</h1>
    <div>{{ survey_instruction }}</div>
    {% endblock %}
    
    {% block button %}
    <!-- <button> Start Survey</button> -->
    {% endblock %}

    {% block form %}

    {% endblock %}

    </form>
</body>
</html>